<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CreditScorEReport"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <activity
            android:name="com.demo.checkcreditscore.Splashexitstylishapp.Activity.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.demo.checkcreditscore.Splashexitstylishapp.Activity.Splash2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.demo.checkcreditscore.Splashexitstylishapp.Activity.BackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.demo.checkcreditscore.Splashexitstylishapp.Activity.ThankyouActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.demo.checkcreditscore.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.demo.checkcreditscore.activity.LandingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.demo.checkcreditscore.activity.BenefitsSecretActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.demo.checkcreditscore.activity.FaqActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.demo.checkcreditscore.mainmodule.CreditScoreReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.demo.checkcreditscore.mainmodule.CreditScoreDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.demo.checkcreditscore.tips.TipsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.demo.checkcreditscore.tips.TipsWebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.demo.checkcreditscore.calculatescore.FirstActivity_CB"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.demo.checkcreditscore.calculatescore.Report_Activity_CB"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.demo.checkcreditscore.calculatescore.Result_Screen_Activity_CB"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.demo.checkcreditscore.calculatescore.Sec_Screen_Activity_CB"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.demo.checkcreditscore.calculatescore.Third_Screen_Activity_CB"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.demo.checkcreditscore.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
<!--        <activity-->
<!--            android:name="com.google.android.gms.ads.AdActivity"-->
<!--            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"-->
<!--            android:exported="false"-->
<!--            android:theme="@style/Theme.Translucent" />-->
<!--        <provider-->
<!--            android:name="com.google.android.gms.ads.MobileAdsInitProvider"-->
<!--            android:authorities="com.demo.checkcreditscore.mobileadsinitprovider"-->
<!--            android:exported="false"-->
<!--            android:initOrder="100" />-->
<!--        <service-->
<!--            android:name="com.google.android.gms.ads.AdService"-->
<!--            android:enabled="true"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name="com.google.android.gms.common.api.GoogleApiActivity"-->
<!--            android:exported="false"-->
<!--            android:theme="@style/Theme.Translucent.NoTitleBar" />-->
<!--        <meta-data-->
<!--            android:name="com.google.android.gms.version"-->
<!--            android:value="@integer/google_play_services_version" />-->
<!--        <provider-->
<!--            android:name="androidx.startup.InitializationProvider"-->
<!--            android:authorities="com.demo.checkcreditscore.androidx-startup"-->
<!--            android:exported="false">-->
<!--            <meta-data-->
<!--                android:name="androidx.emoji2.text.EmojiCompatInitializer"-->
<!--                android:value="androidx.startup" />-->
<!--            <meta-data-->
<!--                android:name="androidx.work.WorkManagerInitializer"-->
<!--                android:value="androidx.startup" />-->
<!--            <meta-data-->
<!--                android:name="androidx.lifecycle.ProcessLifecycleInitializer"-->
<!--                android:value="androidx.startup" />-->
<!--        </provider>-->

<!--        <service-->
<!--            android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"-->
<!--            android:directBootAware="false"-->
<!--            android:enabled="@bool/enable_system_alarm_service_default"-->
<!--            android:exported="false" />-->
<!--        <service-->
<!--            android:name="androidx.work.impl.background.systemjob.SystemJobService"-->
<!--            android:directBootAware="false"-->
<!--            android:enabled="@bool/enable_system_job_service_default"-->
<!--            android:exported="true"-->
<!--            android:permission="android.permission.BIND_JOB_SERVICE" />-->
<!--        <service-->
<!--            android:name="androidx.work.impl.foreground.SystemForegroundService"-->
<!--            android:directBootAware="false"-->
<!--            android:enabled="@bool/enable_system_foreground_service_default"-->
<!--            android:exported="false" />-->

<!--        <receiver-->
<!--            android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"-->
<!--            android:directBootAware="false"-->
<!--            android:enabled="true"-->
<!--            android:exported="false" />-->
<!--        <receiver-->
<!--            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy"-->
<!--            android:directBootAware="false"-->
<!--            android:enabled="false"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />-->
<!--                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->
<!--        <receiver-->
<!--            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy"-->
<!--            android:directBootAware="false"-->
<!--            android:enabled="false"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.BATTERY_OKAY" />-->
<!--                <action android:name="android.intent.action.BATTERY_LOW" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->
<!--        <receiver-->
<!--            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy"-->
<!--            android:directBootAware="false"-->
<!--            android:enabled="false"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.DEVICE_STORAGE_LOW" />-->
<!--                <action android:name="android.intent.action.DEVICE_STORAGE_OK" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->
<!--        <receiver-->
<!--            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy"-->
<!--            android:directBootAware="false"-->
<!--            android:enabled="false"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->
<!--        <receiver-->
<!--            android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver"-->
<!--            android:directBootAware="false"-->
<!--            android:enabled="false"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.BOOT_COMPLETED" />-->
<!--                <action android:name="android.intent.action.TIME_SET" />-->
<!--                <action android:name="android.intent.action.TIMEZONE_CHANGED" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->
<!--        <receiver-->
<!--            android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver"-->
<!--            android:directBootAware="false"-->
<!--            android:enabled="@bool/enable_system_alarm_service_default"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->
<!--        <receiver-->
<!--            android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver"-->
<!--            android:directBootAware="false"-->
<!--            android:enabled="true"-->
<!--            android:exported="true"-->
<!--            android:permission="android.permission.DUMP">-->
<!--            <intent-filter>-->
<!--                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

        <service
            android:name="androidx.room.MultiInstanceInvalidationService"
            android:directBootAware="true"
            android:exported="false" />
    </application>
</manifest>